__pycache__
.coverage
.cursor/rules/snyk_rules.mdc
.github_token
.github/instructions/snyk_rules.instructions.md
.gitpod.yml
.idea
.tox
.venv
.vscode/
*.code-workspace
*.csv
*.DS_Store
*.egg-info
*.mo
*.pyc
build/*
coverage.lcov
coverage.xml
design/
dist/
docs/auto_gen_files/
holidays/locale/pot/*.pot
MANIFEST
Pipfile
sbom.json
site/
venv/
