.ash_history
.buildx-cache
.cache
.coverage*
.github_token
.gitpod.yml
.idea
.local
.venv
.vscode/
*.code-workspace
*.DS_Store
*.egg-info
*.mo
*.pyc
build/*
coverage.*
dist/
docs/auto_gen_files/
docs/build
docs/source/_autosummary
holidays/locale/pot/*.pot
MANIFEST
Pipfile
sbom.json
site/
venv/
