.coverage
.github_token
.gitpod.yml
.idea
.tox
.venv
.vscode/
**/__pycache__/
*.code-workspace
*.csv
*.DS_Store
*.egg-info
*.mo
*.pyc
build/*
coverage.lcov
coverage.xml
dist/
docs/auto_gen_files/
holidays/locale/pot/*.pot
MANIFEST
Pipfile
sbom.json
site/
venv/
