repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types:
          - rst
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: trailing-whitespace
        exclude_types:
          - rst

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/lucas-c/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        files: \.(po|py)$
        args:
        - --license-filepath
        - docs/file_header.txt

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        exclude: ^(docs)

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-docutils
          - types-polib
          - types-python-dateutil
        args:
          - --ignore-missing-imports
          - --implicit-optional
          - --show-error-codes

  - repo: https://github.com/myint/rstcheck
    rev: v6.2.0
    hooks:
      - id: rstcheck
        additional_dependencies:
          - rstcheck
          - sphinx

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks

  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: '1.3.1'
    hooks:
      - id: tox-ini-fmt

  - repo: local
    hooks:
      - id: tests
        always_run: true
        entry: make check
        language: system
        name: run `make check`
        pass_filenames: false
        stages:
          - push
