exclude tests/*
include *.py
include *.rst
include CHANGES
include holidays/locale/*/LC_MESSAGES/*.mo
include holidays/locale/*/LC_MESSAGES/*.po
include holidays/py.typed
include LICENSE
include scripts/i18n/msgfmt.py
