site_description: |
  'A fast, efficient Python library for generating country, province, and state-specific sets '
  'of holidays on the fly. It aims to make determining whether a specific date is a holiday as '
  'fast and flexible as possible.'
site_author: 'Vacanza Team'
site_name: 'holidays'
theme:
  name: readthedocs
  highlightjs: true

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            inherited_members: false
            filters:
              - '!^_'
              - '!CountryHoliday'
            members_order: source
            merge_init_into_class: true
            show_if_no_docstring: true
            show_root_heading: true
            show_signature: true
            show_source: false
  - gen-files:
      scripts:
        - scripts/docs/gen_ref_pages.py
        - scripts/docs/gen_summary.py
        - scripts/docs/gen_changelog.py
        - scripts/docs/gen_copyright.py
        - scripts/docs/gen_index.py
  - literate-nav:
      nav_file: SUMMARY.md

markdown_extensions:
  - markdown_include.include:
      base_path: docs
  - admonition
  - pymdownx.superfences
  - toc:
      permalink: 'ÔÉÅ'

extra_css:
  - css/custom.css
extra_javascript:
  - js/custom.js
  - js/copyright.js
