[project]
name = "holidays"
description = "Generate and work with holidays in Python"
license = { file = "LICENSE" }
readme = "README.rst"
requires-python = ">=3.8"
dynamic = ["version"]

authors = [{ email = "dr.prodigy.github@gmail.com", name = "Maurizio Montel" }]
dependencies = ["python-dateutil"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: Office/Business :: Scheduling",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Localization",
]
keywords = ["holidays", "calendar", "l10n"]
maintainers = [
    { email = "ark@cho.red", name = "Arkadii Yakovets" },
    { email = "jhellico@gmail.com", name = "Serhii Murza" },
]

[project.urls]
Repository = "https://github.com/vacanza/holidays/"
Documentation = "https://holidays.readthedocs.io/en/latest/"
Changelog = "https://github.com/vacanza/holidays/releases"
Downloads = "https://pypi.org/project/holidays/"

[tool.bandit]
exclude_dirs = ["docs", "tests"]

[tool.coverage.run]
branch = true
omit = ["scripts/*", "setup.py", "tests/*"]

[tool.isort]
known_first_party = ["holidays", "tests"]
line_length = 99
multi_line_output = 3
no_inline_sort = true
profile = "black"
skip = ["docs"]

[tool.mypy]
strict = false

[tool.ruff]
extend-exclude = ["docs"]
line-length = 99

[tool.ruff.lint]
select = ["E4", "E5", "E7", "E9", "F", "N", "T", "W"]

[tool.ruff.lint.extend-per-file-ignores]
"scripts/generate_release_notes.py" = ["T201"]

[tool.ruff.lint.flake8-errmsg]
max-string-length = 99

[[tool.mypy.overrides]]
module = "holidays.countries.*"
disable_error_code = ["override"]

[[tool.mypy.overrides]]
module = "holidays.groups.*"
disable_error_code = "attr-defined"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:holidays",
    "ignore::DeprecationWarning:xdist",
]

[tool.rstcheck]
ignore_directives = ["automodule", "autosummary"]
ignore_languages = ["python"]

[tool.setuptools.dynamic]
version = { attr = "holidays.__version__" }

[tool.setuptools.packages.find]
include = ["holidays*"]
