[project]
name = "holidays"
description = "World Holidays Framework"
license = { "text" = "MIT" }
readme = "README.rst"
requires-python = ">=3.9"
dynamic = ["version"]

authors = [{ name = "Vacanza Team" }]
dependencies = ["python-dateutil"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Information Technology",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: File Formats :: JSON",
    "Topic :: Office/Business :: Financial :: Accounting",
    "Topic :: Office/Business :: Financial :: Investment",
    "Topic :: Office/Business :: Scheduling",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
keywords = ["holidays", "calendar", "l10n", "worldwide", "vacation"]
maintainers = [
    { name = "Arkadii Yakovets" },
    { name = "Panpakorn Siripanich" },
    { name = "Serhii Murza" },
]

[project.urls]
Documentation = "https://holidays.readthedocs.io/en/latest/"
Repository = "https://github.com/vacanza/holidays/"
Changelog = "https://github.com/vacanza/holidays/releases/"

[tool.bandit]
exclude_dirs = ["docs", "tests"]

[tool.coverage.run]
branch = true
omit = ["scripts/*", "setup.py", "tests/*"]

[tool.isort]
known_first_party = ["holidays", "tests"]
line_length = 99
multi_line_output = 3
no_inline_sort = true
profile = "black"
skip = ["docs"]

[tool.mypy]
strict = false

[tool.ruff]
extend-exclude = ["docs"]
line-length = 99

[tool.ruff.lint]
select = ["E4", "E5", "E7", "E9", "F", "N", "T", "W"]

[tool.ruff.lint.extend-per-file-ignores]
"scripts/generate_release_notes.py" = ["T201"]

[tool.ruff.lint.flake8-errmsg]
max-string-length = 99

[[tool.mypy.overrides]]
module = "holidays.countries.*"
disable_error_code = ["override"]

[[tool.mypy.overrides]]
module = "holidays.groups.*"
disable_error_code = "attr-defined"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:holidays.deprecations.v1_incompatibility",
]

[tool.rstcheck]
ignore_directives = ["automodule", "autosummary"]
ignore_languages = ["python"]

[tool.setuptools.dynamic]
version = { attr = "holidays.version.__version__" }

[tool.setuptools.packages.find]
include = ["holidays*"]
