# package runtime requirements
convertdate>=2.3.0
hijri-converter
korean-lunar-calendar
python-dateutil
PyMeeus

# test requirements
coverage[toml]<7.0.0
flake8
pre-commit
pytest
pytest-cov
sphinx
tox

# deployment
pip>=19.2.3
wheel>=0.33.6
