# pip requirements for building docs (they must include install_requires from setup.cfg)
convertdate>=2.3.0
hijri-converter
korean-lunar-calendar
python-dateutil
sphinx >= 4.3
sphinx_rtd_theme >= 1.0
