name: Pre-commit hooks autoupdate

on:
  # every day at midnight
  schedule:
    - cron: "0 0 * * *"
  # on demand
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.7.0
      - uses: browniebroke/pre-commit-autoupdate-action@v1.0.0
      - uses: peter-evans/create-pull-request@v5.0.2
        with:
          base: beta
          branch: update/pre-commit-hooks
          title: Update pre-commit hooks
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          commit-message: "Chore: Update pre-commit hooks"
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          body: Update versions of pre-commit hooks to latest version.
          token: ${{ secrets.GITHUB_TOKEN }}
