name: Chores

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  auto-update:
    name: Update pre-commit hooks
    if: ${{ github.repository }} == "vacanza/python-holidays"
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4.7.0
      - uses: browniebroke/pre-commit-autoupdate-action@v1.0.0
      - uses: peter-evans/create-pull-request@v5.0.2
        with:
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          base: beta
          body: Update versions of pre-commit hooks to the latest version.
          branch: update/pre-commit-hooks
          commit-message: "Chore: Update pre-commit hooks"
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          delete-branch: true
          title: Update pre-commit hooks
          token: ${{ secrets.GITHUB_TOKEN }}
