name: Update snapshots

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  update-snapshots:
    name: Update snapshots
    if: github.repository == 'vacanza/holidays'
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          cache: pip
          cache-dependency-path: |
            requirements/build.txt
            requirements/runtime.txt
          check-latest: true
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements/build.txt
          python -m pip install -r requirements/runtime.txt

      - name: Generate snapshots
        run: |
          make snapshot

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
        with:
          base: dev
          body: Automatically generated snapshots update.
          branch: update-snapshots
          commit-message: 'Update snapshots [skip ci]'
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          delete-branch: true
          title: 'chore: Update snapshots'
          token: ${{ github.token }}
